
*{
	font-family: "Montserrat", sans-serif;
}
body{
	margin: 0px;
	padding: 0px;
    background-color: #FAFAFA;
}
.container{
	max-width: 1090px;
	margin: 0 auto;
	padding: 0 20px;
}
.header{
	background-image: url("./src/images/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header__list{
	list-style: none;
	padding: 0px;
	display: flex;	
	gap: 20px;
}
.header__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}
 .header__list-link{
	 text-decoration: none;
	 color: #252b42 ;
 }
 h1{
	 font-size: 58px;
	 font-weight: 800;
	 max-width: 509px;
	 line-height: 80px;
 }
 h4{
	 font-weight: 500;
	 max-width: 380px;
	 line-height: 30px;
	 font-size: 20px;
	 color: #737373;
 }
 .header__link{
	 display: inline-block;
	 background-color: #FFA62B;
	 padding-left: 36px;
	 padding-top: 14px;
	 padding-right: 36px;
	 padding-bottom: 14px;
	 text-decoration: none;
	 color: #FFFFFF;
	 font-size: 14px;
	 font-weight: 700;
	 border-radius: 37px;
	 transition: 0.3s ease;
 }
 
.header__link:hover{
	background-color: #FFFFFF;
	color: #FFA62B;
	
}
 
.header__link--blue{
	border-width: 1px;
	border-color: #00A0C1; 
	background-color: transparent;
	border-style: solid;
	color: #00A0C1;
	margin-left: 10px;
}
.header__link--blue:hover{
	background-color: #00A0C1;
	color: #FFFFFF;
}
.header-boxes{
	display:flex;
	gap: 30px;
	margin-top: 80px;
	margin-bottom: -50px;
	transform: translateY(30px);
}
.header-boxes__item{
	background-color: #FFFFFF;
	padding: 40px;
	box-shadow: 0px 13px 19px 0px #00000012;
}
.box-item__title{
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #252b42;
}
.box-item__text{
	color: #737373;
	font-weight: 500;
	font-size: 14px;
	line-height:20px;
	margin: 0px;
}

#blue-el{
	background-color: #00A0C1;
	
}

#blue-el .box-item__text {
	color: #fff;
}

#blue-el .box-item__title {
		color: #fff;
}

.count{
    &__section{
        margin-top: 250px;
    }
    &__wrapper{
        max-width: 600px;
        text-align:center ;
        margin: 0 auto;
    }
    &__boxes{
        display: flex;
        gap: 30px;
    }
    &__box{
        width: 100%;
        background-color: #FFFFFF;
        text-align: center;
        padding: 30px;
    }
    &__img{
        display: block;
        margin: 0 auto;
       
        object-fit: contain;
    }
    &__img-box{
        height: 55px;
         margin-bottom: 10px;
    }
    &__heading{
        font-weight: 700;
        font-size: 40px;
    }

    &__paragraf{
        font-weight: 700;
        font-size: 16px;
        color: #737373;
    }
}
